<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="about">
    <a href="#">About</a>
  </div>
  <div class="footer-copyright">
    GO-GROUP ©2020 Tous droits réservés. <i class="fas fa-heart"></i>
  </div>
</div>
