.btn-gradient {
  color: white;
  margin-top: 10px;
  padding: 8px 40px;
  border-radius: 4px;
  font-weight: bold;
  background-color: $btn-color;
  border: 1px solid $btn-color;
  a {
    text-decoration: none;
  }
}

.btn-gradient:hover {
  color: white;
  background-color: $hover-btn-color;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.btn-middle {
  text-align: center;
  margin: 20px 0;
}

.simple-link {
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $grey;
  }
}

.simple-link-ss-margin {
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $grey;
  }
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
}

.btn-ghost:hover {
  opacity: 1;
}
