.btn-gradient {
  color: white;
  margin-top: 10px;
  padding: 8px 40px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($btn-color, $btn-color);
  transition: background 0.3s ease;
  border: 1px solid $btn-color;
}

.btn-gradient:hover {
  background: linear-gradient($hover-btn-color, $hover-btn-color);
  color: white;
}
