.head-summary {
  background-color: white;
  border-bottom: 1px solid $light-grey;
  h1 {
    color: $btn-color;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.main {
  width: 600px;
}

.global {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 2fr 1.1fr;
}

.side {
  background-color: white;
  border-radius: 15px;
  height: 708px;
}
