.head-summary {
  background-color: white;
  padding: 15px 0;
  border-bottom: 1px solid rgb(218, 214, 214);
  h1 {
    color: $btn-color;
  }
}

.main {
  width: 600px;
}

.global {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 2fr 1.1fr;
}

.side {
  background-color: white;
  border-radius: 15px;
  height: 708px;
}
