.details {
  margin: 40px 0;
}

.date {
  color: rgb(145, 142, 142);
}

.head-summary {
  .organizer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    p {
      margin-left: 10px;
    }
  }
}

.organizer {
  display: flex;
  p {
    margin-left: 10px;
  }
}

.show-participants h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
